In [2]:
%load_ext sql

In [2]:
!dropdb -U student proj4

In [3]:
!createdb -U student proj4

In [3]:
%sql postgresql://student@/proj4

'Connected: student@proj4'

## Part A Data Import

Yuebo: source of data.

foreign key

In [5]:
%%sql
DROP TABLE IF EXISTS trade;

CREATE TABLE trade(
    id NUMERIC PRIMARY KEY,
    nomenclature CHAR(2),
    reporterISO3 CHAR(3),
    productcode VARCHAR(6),
    reportername VARCHAR(40),
    partnerISO3 CHAR(3),
    partnername VARCHAR(40),
    year CHAR(4),
    tradeflow VARCHAR(10),
    tradeflowcord NUMERIC,
    value_in_000 NUMERIC    
);

Done.
Done.

[]

In [6]:
%%sql
COPY trade
FROM '/home/ubuntu/LACASWLD9C_0016IX_HS6.csv'
CSV
HEADER
DELIMITER ',';

849073 rows affected.

[]

In [7]:
%%sql
SELECT * FROM trade
WHERE YEAR='2011'
LIMIT 10;

10 rows affected.

[(Decimal('1'), 'H0', 'LCN', '10111', 'Latin America - Caribbean --- LCN  ', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('405')),
 (Decimal('17'), 'H0', 'LCN', '10119', 'Latin America - Caribbean --- LCN  ', 'THA', 'Thailand', '2011', 'Export', Decimal('6'), Decimal('220.6')),
 (Decimal('31'), 'H0', 'LCN', '10600', 'Latin America - Caribbean --- LCN  ', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('196.429')),
 (Decimal('32'), 'H0', 'LCN', '10600', 'Latin America - Caribbean --- LCN  ', 'JPN', 'Japan', '2011', 'Import', Decimal('5'), Decimal('0.2')),
 (Decimal('45'), 'H0', 'LCN', '10600', 'Latin America - Caribbean --- LCN  ', 'KOR', 'Korea, Rep.', '2011', 'Export', Decimal('6'), Decimal('30.215')),
 (Decimal('55'), 'H0', 'LCN', '10600', 'Latin America - Caribbean --- LCN  ', 'THA', 'Thailand', '2011', 'Export', Decimal('6'), Decimal('200.267')),
 (Decimal('56'), 'H0', 'LCN', '10600', 'Latin America - Caribbean --- LCN  ', 'THA', 'Thailand', '2011', 'Import', Decimal('5'), Decimal('0.2')),
 (Decimal('68'), 'H0', 'LCN', '20120', 'Latin America - Caribbean --- LCN  ', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('164.471')),
 (Decimal('75'), 'H0', 'LCN', '20120', 'Latin America - Caribbean --- LCN  ', 'KOR', 'Korea, Rep.', '2011', 'Export', Decimal('6'), Decimal('28.842')),
 (Decimal('78'), 'H0', 'LCN', '20130', 'Latin America - Caribbean --- LCN  ', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('10399.846'))]

In [8]:
%%sql
DROP TABLE IF EXISTS product;

CREATE TABLE product(
    id SERIAL PRIMARY KEY,
    nomenclature CHAR(2),
    nomenclaturelong VARCHAR(20),
    productgroup VARCHAR(30),
    productgroupdes VARCHAR(100),
    productcode VARCHAR(6),
    productdes VARCHAR(100)
);

Done.
Done.

[]

In [9]:
%%sql
COPY product
(nomenclature, nomenclaturelong, productgroup, productgroupdes, productcode, productdes)
FROM '/home/ubuntu/CountryProfile-ProductMetadataforSector.csv'
CSV
HEADER
DELIMITER ',';

5199 rows affected.

[]

In [10]:
%sql select * from product limit 10;

10 rows affected.

[(1, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '1', 'Live animals'),
 (2, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '2', 'Meat and edible meat offal'),
 (3, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '3', 'Fish & crustacean, mollusc & other  aquatic inv'),
 (4, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '4', "Dairy prod; birds' eggs; natural honey;  edible"),
 (5, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '5', 'Products of animal origin, nes or  included.'),
 (6, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '6', 'Live tree & other plant; bulb, root; cut  flowe'),
 (7, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '7', 'Edible vegetables and certain roots and  tubers'),
 (8, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '8', 'Edible fruit and nuts; peel of citrus  fruit or'),
 (9, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '9', 'Coffee, tea, matï and spices.'),
 (10, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '10', 'Cereals')]

In [11]:
%%sql
DROP TABLE IF EXISTS country;

CREATE TABLE country(
    id SERIAL PRIMARY KEY,
    countryname VARCHAR(30),
    countryISO3 CHAR(3),
    countrycode VARCHAR(3),
    longname VARCHAR(100),
    incomegroup VARCHAR(100),
    lendingcat VARCHAR(100),
    region VARCHAR(100),
    currency VARCHAR(100),
    othergroups VARCHAR(100),
    WOT VARCHAR(3)
);

Done.
Done.

[]

wto_member

remove duplicate.

In [12]:
%%sql
COPY country
(countryname, countryISO3, countrycode, longname, incomegroup, lendingcat, region, currency, othergroups, WOT)
FROM '/home/ubuntu/WITSCountryProfile-Country_Indicator_ProductMetada-en.csv'
CSV
HEADER
DELIMITER ',';

269 rows affected.

[]

In [13]:
%sql select * from country limit 10;

10 rows affected.

[(1, 'Afghanistan', 'AFG', '004', 'Islamic State of Afghanistan', 'Low income', 'IDA', 'South Asia', 'Afghan afghani', 'HIPC', 'No'),
 (2, 'Albania', 'ALB', '008', 'Republic of Albania', 'Upper middle income', 'IBRD', 'Europe & Central Asia', 'Albanian lek', None, 'Yes'),
 (3, 'Algeria', 'DZA', '012', "People's Democratic Republic of Algeria", 'Upper middle income', 'IBRD', 'Middle East & North Africa', 'Algerian dinar', None, 'No'),
 (4, 'American Samoa', 'ASM', '016', 'American Samoa', 'Upper middle income', None, 'East Asia & Pacific', 'U.S. dollar', None, 'No'),
 (5, 'Andorra', 'AND', '020', None, 'Others', None, None, None, None, 'No'),
 (6, 'Angola', 'AGO', '024', "People's Republic of Angola", 'Upper middle income', 'IBRD', 'Sub-Saharan Africa', 'Angolan kwanza', None, 'Yes'),
 (7, 'Anguila', 'AIA', '660', None, 'Others', None, None, None, None, 'No'),
 (8, 'Antarctica', 'ATA', '010', None, 'Others', None, None, None, None, 'No'),
 (9, 'Antigua and Barbuda', 'ATG', '028', 'Antigua and Barbuda', 'High income: nonOECD', 'IBRD', 'Latin America & Caribbean', 'East Caribbean dollar', None, 'Yes'),
 (10, 'Argentina', 'ARG', '032', 'Argentine Republic', 'High income: nonOECD', 'IBRD', 'Latin America & Caribbean', 'Argentine peso', None, 'Yes')]

## Part B Data Cleaning

Check missing value.

In [14]:
%sql SELECT DISTINCT nomenclature FROM product;

2 rows affected.

[('H0',), ('S2',)]

In [15]:
%sql SELECT DISTINCT nomenclature FROM trade;

1 rows affected.

[('H0',)]

In [16]:
%%sql
DELETE FROM product
WHERE nomenclature != (SELECT DISTINCT nomenclature FROM trade);

32 rows affected.

[]

In [17]:
%sql SELECT DISTINCT productgroup FROM product ORDER BY productgroup;

21 rows affected.

[('01-05_Animal',),
 ('06-15_Vegetable',),
 ('16-24_FoodProd',),
 ('25-26_Minerals',),
 ('27-27_Fuels',),
 ('28-38_Chemicals',),
 ('39-40_PlastiRub',),
 ('41-43_HidesSkin',),
 ('44-49_Wood',),
 ('50-63_TextCloth',),
 ('64-67_Footwear',),
 ('68-71_StoneGlas',),
 ('72-83_Metals',),
 ('84-85_MachElec',),
 ('86-89_Transport',),
 ('90-99_Miscellan',),
 ('Total',),
 ('UNCTAD-SoP1',),
 ('UNCTAD-SoP2',),
 ('UNCTAD-SoP3',),
 ('UNCTAD-SoP4',)]

%%sql
ALTER TABLE product
    ADD COLUMN zero CHAR(6);
UPDATE product SET zero = '0';

%%sql
UPDATE product 
SET zero = (SELECT zero || productcode FROM product WHERE length(productcode)=1 or length(productcode)=5);

%%sql
INSERT INTO product (zero)
SELECT (zero || productcode)
FROM product;

%%sql
UPDATE product
SET zero = concat(product.zero,product.productcode);

In [22]:
%%sql
SELECT DISTINCT productcode FROM trade
WHERE productcode LIKE '%AA';

1 rows affected.

[('9999AA',)]

In [23]:
%%sql 
UPDATE product
SET productcode = '9999AA'
WHERE productcode LIKE '%AA';

58 rows affected.

[]

In [24]:
%sql select * from product where productcode like '%AA';

58 rows affected.

[(108, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (117, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (136, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (157, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (187, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (212, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (299, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (309, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (325, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (328, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (333, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (359, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (475, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (518, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (632, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (822, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (891, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (898, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (901, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (923, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1036, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1564, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1654, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1658, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1672, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1775, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1778, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1793, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2128, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2210, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2215, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2222, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2261, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2277, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2421, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2514, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2557, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2561, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (2845, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (2894, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (2898, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (2905, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (2919, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (2932, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (3189, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (3246, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (3264, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (3760, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (3791, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (4030, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (4202, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (4301, 'H0', 'HS 1988/92', 'UNCTAD-SoP4', ' Capital goods', '9999AA', '  UN Special Code', '0     '),
 (4866, 'H0', 'HS 1988/92', 'UNCTAD-SoP4', ' Capital goods', '9999AA', '  UN Special Code', '0     '),
 (105, 'H0', 'HS 1988/92', 'UNCTAD-SoP1', ' Raw materials', '9999AA', '  UN Special Code', '0     '),
 (1485, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (1661, 'H0', 'HS 1988/92', 'UNCTAD-SoP2', ' Intermediate goods', '9999AA', '  UN Special Code', '0     '),
 (3217, 'H0', 'HS 1988/92', 'UNCTAD-SoP3', ' Consumer goods', '9999AA', '  UN Special Code', '0     '),
 (5101, 'H0', 'HS 1988/92', 'UNCTAD-SoP4', ' Capital goods', '9999AA', '  UN Special Code', '0     ')]

In [25]:
%%sql 
DROP TABLE IF EXISTS product2;
CREATE TABLE product2(
    id SERIAL PRIMARY KEY,
    nomenclature CHAR(2),
    nomenclaturelong VARCHAR(20),
    productgroup VARCHAR(30),
    productgroupdes VARCHAR(100),
    productcode VARCHAR(6),
    productdes VARCHAR(100)
);

Done.
Done.

[]

In [26]:
%%sql
INSERT INTO product2 (nomenclature, nomenclaturelong, productgroup, productgroupdes, productcode, productdes)
SELECT nomenclature, nomenclaturelong, productgroup, productgroupdes, productcode, productdes
FROM product 
WHERE length(productcode)=1 or length(productcode)=2;

98 rows affected.

[]

In [27]:
%sql select * from product2 limit 100;

98 rows affected.

[(1, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '1', 'Live animals'),
 (2, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '2', 'Meat and edible meat offal'),
 (3, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '3', 'Fish & crustacean, mollusc & other  aquatic inv'),
 (4, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '4', "Dairy prod; birds' eggs; natural honey;  edible"),
 (5, 'H0', 'HS 1988/92', '01-05_Animal', 'Animal', '5', 'Products of animal origin, nes or  included.'),
 (6, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '6', 'Live tree & other plant; bulb, root; cut  flowe'),
 (7, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '7', 'Edible vegetables and certain roots and  tubers'),
 (8, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '8', 'Edible fruit and nuts; peel of citrus  fruit or'),
 (9, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '9', 'Coffee, tea, matï and spices.'),
 (10, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '10', 'Cereals'),
 (11, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '11', 'Prod.mill.indust; malt; starches;  inulin; whea'),
 (12, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '12', 'Oil seed, oleagi fruits; miscell grain,  seed,'),
 (13, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '13', 'Lac; gums, resins & other vegetable saps  & ext'),
 (14, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '14', 'Vegetable plaiting materials; vegetable  produc'),
 (15, 'H0', 'HS 1988/92', '06-15_Vegetable', 'Vegetable', '15', 'Animal/veg fats & oils & their cleavage  produc'),
 (16, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '16', 'Prep of meat, fish or crustaceans,  molluscs et'),
 (17, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '17', 'Sugars and sugar confectionery.'),
 (18, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '18', 'Cocoa and cocoa preparations.'),
 (19, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '19', 'Prep.of cereal, flour, starch/milk;  pastrycook'),
 (20, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '20', 'Prep of vegetable, fruit, nuts or other  parts'),
 (21, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '21', 'Miscellaneous edible preparations.'),
 (22, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '22', 'Beverages, spirits and vinegar.'),
 (23, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '23', 'Residues & waste from the food indust;  prepr a'),
 (24, 'H0', 'HS 1988/92', '16-24_FoodProd', 'Food Products', '24', 'Tobacco and manufactured tobacco substitutes'),
 (25, 'H0', 'HS 1988/92', '25-26_Minerals', 'Minerals', '25', 'Salt; sulphur; earth & ston; plastering  mat; l'),
 (26, 'H0', 'HS 1988/92', '25-26_Minerals', 'Minerals', '26', 'Ores, slag and ash.'),
 (27, 'H0', 'HS 1988/92', '27-27_Fuels', 'Fuels', '27', 'Mineral fuels, oils & product of their  distill'),
 (28, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '28', 'Inorgn chem; compds of prec mtl,  radioact elem'),
 (29, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '29', 'Organic chemicals.'),
 (30, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '30', 'Pharmaceutical products.'),
 (31, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '31', 'Fertilisers.'),
 (32, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '32', 'Tanning/dyeing extract; tannins &  derivs; pigm'),
 (33, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '33', 'Essential oils & resinoids; perf,  cosmetic/toi'),
 (34, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '34', 'Soap, organic surface-active agents,  washing p'),
 (35, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '35', 'Albuminoidal subs; modified starches;  glues; e'),
 (36, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '36', 'Explosives; pyrotechnic prod; matches;  pyrop a'),
 (37, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '37', 'Photographic or cinematographic goods.'),
 (38, 'H0', 'HS 1988/92', '28-38_Chemicals', 'Chemicals', '38', 'Miscellaneous chemical products.'),
 (39, 'H0', 'HS 1988/92', '39-40_PlastiRub', 'Plastic or Rubber', '39', 'Plastics and articles thereof.'),
 (40, 'H0', 'HS 1988/92', '39-40_PlastiRub', 'Plastic or Rubber', '40', 'Rubber and articles thereof.'),
 (41, 'H0', 'HS 1988/92', '41-43_HidesSkin', 'Hides and Skins', '41', 'Raw hides and skins (other than  furskins) and'),
 (42, 'H0', 'HS 1988/92', '41-43_HidesSkin', 'Hides and Skins', '42', 'Articles of leather; saddlery/harness;  travel'),
 (43, 'H0', 'HS 1988/92', '41-43_HidesSkin', 'Hides and Skins', '43', 'Furskins and artificial fur;  manufactures ther'),
 (44, 'H0', 'HS 1988/92', '44-49_Wood', 'Wood', '44', 'Wood and articles of wood; wood  charcoal.'),
 (45, 'H0', 'HS 1988/92', '44-49_Wood', 'Wood', '45', 'Cork and articles of cork.'),
 (46, 'H0', 'HS 1988/92', '44-49_Wood', 'Wood', '46', 'Manufactures of straw, esparto/other  plaiting'),
 (47, 'H0', 'HS 1988/92', '44-49_Wood', 'Wood', '47', 'Pulp of wood/of other fibrous cellulosic  mat;'),
 (48, 'H0', 'HS 1988/92', '44-49_Wood', 'Wood', '48', 'Paper & paperboard; art of paper pulp,  paper/p'),
 (49, 'H0', 'HS 1988/92', '44-49_Wood', 'Wood', '49', 'Printed books, newspapers, pictures &  other pr'),
 (50, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '50', 'Silk.'),
 (51, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '51', 'Wool, fine/coarse animal hair, horsehair  yarn'),
 (52, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '52', 'Cotton.'),
 (53, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '53', 'Other vegetable textile fibres; paper  yarn & w'),
 (54, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '54', 'Man-made filaments.'),
 (55, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '55', 'Man-made staple fibres.'),
 (56, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '56', 'Wadding, felt & nonwoven; yarns; twine,  cordag'),
 (57, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '57', 'Carpets and other textile floor  coverings.'),
 (58, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '58', 'Special woven fab; tufted tex fab; lace;  tapes'),
 (59, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '59', 'Impregnated, coated, cover/laminated  textile f'),
 (60, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '60', 'Knitted or crocheted fabrics.'),
 (61, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '61', 'Art of apparel & clothing access,  knitted or c'),
 (62, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '62', 'Art of apparel & clothing access, not  knitted/'),
 (63, 'H0', 'HS 1988/92', '50-63_TextCloth', 'Textiles and Clothing', '63', 'Other made up textile articles; sets;  worn clo'),
 (64, 'H0', 'HS 1988/92', '64-67_Footwear', 'Footwear', '64', 'Footwear, gaiters and the like; parts of  such'),
 (65, 'H0', 'HS 1988/92', '64-67_Footwear', 'Footwear', '65', 'Headgear and parts thereof.'),
 (66, 'H0', 'HS 1988/92', '64-67_Footwear', 'Footwear', '66', 'Umbrellas, walking-sticks, seat-sticks,  whips,'),
 (67, 'H0', 'HS 1988/92', '64-67_Footwear', 'Footwear', '67', 'Prepr feathers & down; arti flower;  articles h'),
 (68, 'H0', 'HS 1988/92', '68-71_StoneGlas', 'Stone and Glass', '68', 'Art of stone, plaster, cement, asbestos,  mica/'),
 (69, 'H0', 'HS 1988/92', '68-71_StoneGlas', 'Stone and Glass', '69', 'Ceramic products.'),
 (70, 'H0', 'HS 1988/92', '68-71_StoneGlas', 'Stone and Glass', '70', 'Glass and glassware.'),
 (71, 'H0', 'HS 1988/92', '68-71_StoneGlas', 'Stone and Glass', '71', 'Natural/cultured pearls, prec stones &  metals,'),
 (72, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '72', 'Iron and steel.'),
 (73, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '73', 'Articles of iron or steel.'),
 (74, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '74', 'Copper and articles thereof.'),
 (75, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '75', 'Nickel and articles thereof.'),
 (76, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '76', 'Aluminium and articles thereof.'),
 (77, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '78', 'Lead and articles thereof.'),
 (78, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '79', 'Zinc and articles thereof.'),
 (79, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '80', 'Tin and articles thereof.'),
 (80, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '81', 'Other base metals; cermets; articles  thereof.'),
 (81, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '82', 'Tool, implement, cutlery, spoon & fork,  of bas'),
 (82, 'H0', 'HS 1988/92', '72-83_Metals', 'Metals', '83', 'Miscellaneous articles of base metal.'),
 (83, 'H0', 'HS 1988/92', '84-85_MachElec', 'Mach and Elec', '84', 'Nuclear reactors, boilers, mchy & mech  applian'),
 (84, 'H0', 'HS 1988/92', '84-85_MachElec', 'Mach and Elec', '85', 'Electrical mchy equip parts thereof;  sound rec'),
 (85, 'H0', 'HS 1988/92', '86-89_Transport', 'Transportation', '86', 'Railw/tramw locom, rolling-stock & parts  there'),
 (86, 'H0', 'HS 1988/92', '86-89_Transport', 'Transportation', '87', 'Vehicles o/t railw/tramw roll-stock, pts  & acc'),
 (87, 'H0', 'HS 1988/92', '86-89_Transport', 'Transportation', '88', 'Aircraft, spacecraft, and parts thereof.'),
 (88, 'H0', 'HS 1988/92', '86-89_Transport', 'Transportation', '89', 'Ships, boats and floating structures.'),
 (89, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '90', 'Optical, photo, cine, meas, checking,  precisio'),
 (90, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '91', 'Clocks and watches and parts thereof.'),
 (91, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '92', 'Musical instruments; parts and access of  such'),
 (92, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '93', 'Arms and ammunition; parts and  accessories the'),
 (93, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '94', 'Furniture; bedding, mattress, matt  support, cu'),
 (94, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '95', 'Toys, games & sports requisites; parts &  acces'),
 (95, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '96', 'Miscellaneous manufactured articles.'),
 (96, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '97', "Works of art, collectors' pieces and  antiques."),
 (97, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '98', '  UN Special Code'),
 (98, 'H0', 'HS 1988/92', '90-99_Miscellan', 'Miscellaneous', '99', '  UN Special Code')]

In [28]:
%%sql
DELETE FROM product
WHERE length(productcode)=1 or length(productcode)=2 or productgroup = 'Total';

99 rows affected.

[]

In [29]:
%%sql
ALTER TABLE product
    ADD h2_productcode CHAR(2),
    ADD h2_category VARCHAR(50),
    ADD h2_descriptor VARCHAR(50);

Done.

[]

In [30]:
%%sql
UPDATE product
SET h2_productcode = LEFT(productcode,2) WHERE LENGTH(productcode)=6;

4724 rows affected.

[]

In [31]:
%sql UPDATE product SET h2_productcode = LEFT(productcode,1) WHERE LENGTH(productcode)=5;

344 rows affected.

[]

In [32]:
%%sql 
UPDATE product
SET h2_category = (SELECT product2.productgroupdes FROM product2 WHERE product.h2_productcode = product2.productcode)

5068 rows affected.

[]

In [33]:
%%sql 
UPDATE product
SET h2_descriptor = (SELECT product2.productdes FROM product2 WHERE product.h2_productcode = product2.productcode)

5068 rows affected.

[]

In [34]:
%%sql 
ALTER TABLE product 
DROP COLUMN nomenclature, 
DROP COLUMN nomenclaturelong, 
DROP COLUMN productgroup;

Done.

[]

In [49]:
%sql SELECT * FROM product where h2_productcode = '1';

15 rows affected.

[(100, ' Raw materials', '10119', 'Live horses, other than for pure-bred breeding', '0     ', '1 ', 'Animal', 'Live animals'),
 (101, ' Raw materials', '10120', 'Live asses mules and hinnies', '0     ', '1 ', 'Animal', 'Live animals'),
 (102, ' Raw materials', '10290', 'Live bovine animals, other than pure-bred breed', '0     ', '1 ', 'Animal', 'Live animals'),
 (103, ' Raw materials', '10391', 'Live swine weighing <50kg (excl. pure-bred bree', '0     ', '1 ', 'Animal', 'Live animals'),
 (104, ' Raw materials', '10392', 'Live swine weighing >=50kg (excl. pure-bred bre', '0     ', '1 ', 'Animal', 'Live animals'),
 (106, ' Raw materials', '10410', 'Live sheep', '0     ', '1 ', 'Animal', 'Live animals'),
 (107, ' Raw materials', '10420', 'Live goats', '0     ', '1 ', 'Animal', 'Live animals'),
 (109, ' Raw materials', '10511', 'Live fowls of species Gallus domesticus, weighi', '0     ', '1 ', 'Animal', 'Live animals'),
 (110, ' Raw materials', '10519', 'Live ducks, geese, turkeys and guinea fowls, we', '0     ', '1 ', 'Animal', 'Live animals'),
 (111, ' Raw materials', '10591', 'Live fowls of species Gallus domesticus (chicke', '0     ', '1 ', 'Animal', 'Live animals'),
 (112, ' Raw materials', '10599', 'Live ducks, geese, turkeys and guinea fowls, we', '0     ', '1 ', 'Animal', 'Live animals'),
 (4263, ' Capital goods', '10111', 'Live pure bred breeding horses', '0     ', '1 ', 'Animal', 'Live animals'),
 (4264, ' Capital goods', '10210', 'Live pure-bred breeding bovine animals', '0     ', '1 ', 'Animal', 'Live animals'),
 (4265, ' Capital goods', '10310', 'Live pure-bred breeding swine', '0     ', '1 ', 'Animal', 'Live animals'),
 (113, ' Raw materials', '10600', 'Other live animals, nes', '0     ', '1 ', 'Animal', 'Live animals')]

In [50]:
%sql select distinct productgroupdes from product;

4 rows affected.

[(' Consumer goods',),
 (' Raw materials',),
 (' Intermediate goods',),
 (' Capital goods',)]

In [38]:
%%sql
ALTER TABLE country
DROP COLUMN countrycode, 
DROP COLUMN lendingcat, 
DROP COLUMN currency, 
DROP COLUMN othergroups;

Done.

[]

In [39]:
%%sql
UPDATE country
SET incomegroup = 'High income'
WHERE incomegroup LIKE 'High income%';

72 rows affected.

[]

In [40]:
%sql select * from country where incomegroup like 'High income%';

72 rows affected.

[(9, 'Antigua and Barbuda', 'ATG', 'Antigua and Barbuda', 'High income', 'Latin America & Caribbean', 'Yes'),
 (10, 'Argentina', 'ARG', 'Argentine Republic', 'High income', 'Latin America & Caribbean', 'Yes'),
 (12, 'Aruba', 'ABW', 'Aruba', 'High income', 'Latin America & Caribbean', 'No'),
 (13, 'Australia', 'AUS', 'Commonwealth of Australia', 'High income', 'East Asia & Pacific', 'Yes'),
 (14, 'Austria', 'AUT', 'Republic of Austria', 'High income', 'Europe & Central Asia', 'Yes'),
 (16, 'Bahamas, The', 'BHS', 'Commonwealth of The Bahamas', 'High income', 'Latin America & Caribbean', 'No'),
 (17, 'Bahrain', 'BHR', 'Kingdom of Bahrain', 'High income', 'Middle East & North Africa', 'Yes'),
 (19, 'Barbados', 'BRB', 'Barbados', 'High income', 'Latin America & Caribbean', 'Yes'),
 (21, 'Belgium', 'BEL', 'Kingdom of Belgium', 'High income', 'Europe & Central Asia', 'Yes'),
 (25, 'Bermuda', 'BMU', 'The Bermudas', 'High income', 'North America', 'No'),
 (36, 'Brunei', 'BRN', 'Brunei Darussalam', 'High income', 'East Asia & Pacific', 'Yes'),
 (43, 'Canada', 'CAN', 'Canada', 'High income', 'North America', 'Yes'),
 (45, 'Cayman Islands', 'CYM', 'Cayman Islands', 'High income', 'Latin America & Caribbean', 'No'),
 (48, 'Chile', 'CHL', 'Republic of Chile', 'High income', 'Latin America & Caribbean', 'Yes'),
 (59, 'Croatia', 'HRV', 'Republic of Croatia', 'High income', 'Europe & Central Asia', 'Yes'),
 (61, 'Curaçao', 'CUW', 'Curaçao', 'High income', 'Latin America & Caribbean', 'No'),
 (62, 'Cyprus', 'CYP', 'Republic of Cyprus', 'High income', 'Europe & Central Asia', 'Yes'),
 (63, 'Czech Republic', 'CZE', 'Czech Republic', 'High income', 'Europe & Central Asia', 'Yes'),
 (65, 'Denmark', 'DNK', 'Kingdom of Denmark', 'High income', 'Europe & Central Asia', 'Yes'),
 (75, 'Equatorial Guinea', 'GNQ', 'Republic of Equatorial Guinea', 'High income', 'Sub-Saharan Africa', 'No'),
 (77, 'Estonia', 'EST', 'Republic of Estonia', 'High income', 'Europe & Central Asia', 'Yes'),
 (81, 'Faeroe Islands', 'FRO', 'Faeroe Islands', 'High income', 'Europe & Central Asia', 'No'),
 (84, 'Finland', 'FIN', 'Republic of Finland', 'High income', 'Europe & Central Asia', 'Yes'),
 (87, 'France', 'FRA', 'French Republic', 'High income', 'Europe & Central Asia', 'Yes'),
 (90, 'French Polynesia', 'PYF', 'French Polynesia', 'High income', 'East Asia & Pacific', 'No'),
 (95, 'Germany', 'DEU', 'Federal Republic of Germany', 'High income', 'Europe & Central Asia', 'Yes'),
 (98, 'Greece', 'GRC', 'Hellenic Republic', 'High income', 'Europe & Central Asia', 'Yes'),
 (99, 'Greenland', 'GRL', 'Greenland', 'High income', 'Europe & Central Asia', 'No'),
 (102, 'Guam', 'GUM', 'Guam', 'High income', 'East Asia & Pacific', 'No'),
 (111, 'Hong Kong, China', 'HKG', "Hong Kong Special Administrative Region of the People's Republic of China", 'High income', 'East Asia & Pacific', 'Yes'),
 (112, 'Hungary', 'HUN', 'Hungary', 'High income', 'Europe & Central Asia', 'Yes'),
 (113, 'Iceland', 'ISL', 'Republic of Iceland', 'High income', 'Europe & Central Asia', 'Yes'),
 (118, 'Ireland', 'IRL', 'Ireland', 'High income', 'Europe & Central Asia', 'Yes'),
 (119, 'Israel', 'ISR', 'State of Israel', 'High income', 'Middle East & North Africa', 'Yes'),
 (120, 'Italy', 'ITA', 'Italian Republic', 'High income', 'Europe & Central Asia', 'Yes'),
 (122, 'Japan', 'JPN', 'Japan', 'High income', 'East Asia & Pacific', 'Yes'),
 (128, 'Korea, Rep.', 'KOR', 'Republic of Korea', 'High income', 'East Asia & Pacific', 'Yes'),
 (129, 'Kuwait', 'KWT', 'State of Kuwait', 'High income', 'Middle East & North Africa', 'Yes'),
 (134, 'Latvia', 'LVA', 'Republic of Latvia', 'High income', 'Europe & Central Asia', 'Yes'),
 (139, 'Lithuania', 'LTU', 'Republic of Lithuania', 'High income', 'Europe & Central Asia', 'Yes'),
 (140, 'Luxembourg', 'LUX', 'Grand Duchy of Luxembourg', 'High income', 'Europe & Central Asia', 'Yes'),
 (141, 'Macao', 'MAC', "Macao Special Administrative Region of the People's Republic of China", 'High income', 'East Asia & Pacific', 'Yes'),
 (148, 'Malta', 'MLT', 'Republic of Malta', 'High income', 'Middle East & North Africa', 'Yes'),
 (159, 'Monaco', 'MCO', 'Principality of Monaco', 'High income', 'Europe & Central Asia', 'No'),
 (169, 'Netherlands', 'NLD', 'Kingdom of the Netherlands', 'High income', 'Europe & Central Asia', 'Yes'),
 (172, 'New Caledonia', 'NCL', 'New Caledonia', 'High income', 'East Asia & Pacific', 'No'),
 (173, 'New Zealand', 'NZL', 'New Zealand', 'High income', 'East Asia & Pacific', 'Yes'),
 (180, 'Northern Mariana Islands', 'MNP', 'Commonwealth of the Northern Mariana Islands', 'High income', 'East Asia & Pacific', 'No'),
 (181, 'Norway', 'NOR', 'Kingdom of Norway', 'High income', 'Europe & Central Asia', 'Yes'),
 (183, 'Oman', 'OMN', 'Sultanate of Oman', 'High income', 'Middle East & North Africa', 'Yes'),
 (194, 'Poland', 'POL', 'Republic of Poland', 'High income', 'Europe & Central Asia', 'Yes'),
 (195, 'Portugal', 'PRT', 'Portuguese Republic', 'High income', 'Europe & Central Asia', 'Yes'),
 (196, 'Qatar', 'QAT', 'State of Qatar', 'High income', 'Middle East & North Africa', 'Yes'),
 (199, 'Russian Federation', 'RUS', 'Russian Federation', 'High income', 'Europe & Central Asia', 'No'),
 (204, 'San Marino', 'SMR', 'Republic of San Marino', 'High income', 'Europe & Central Asia', 'No'),
 (206, 'Saudi Arabia', 'SAU', 'Kingdom of Saudi Arabia', 'High income', 'Middle East & North Africa', 'Yes'),
 (209, 'Seychelles', 'SYC', 'Republic of Seychelles', 'High income', 'Sub-Saharan Africa', 'No'),
 (211, 'Singapore', 'SGP', 'Republic of Singapore', 'High income', 'East Asia & Pacific', 'Yes'),
 (212, 'Sint Maarten', 'SXM', 'Sint Maarten (Dutch part)', 'High income', 'Latin America & Caribbean', 'No'),
 (213, 'Slovak Republic', 'SVK', 'Slovak Republic', 'High income', 'Europe & Central Asia', 'Yes'),
 (214, 'Slovenia', 'SVN', 'Republic of Slovenia', 'High income', 'Europe & Central Asia', 'Yes'),
 (223, 'Spain', 'ESP', 'Kingdom of Spain', 'High income', 'Europe & Central Asia', 'Yes'),
 (226, 'St. Kitts and Nevis', 'KNA', 'St. Kitts and Nevis', 'High income', 'Latin America & Caribbean', 'Yes'),
 (234, 'Sweden', 'SWE', 'Kingdom of Sweden', 'High income', 'Europe & Central Asia', 'Yes'),
 (235, 'Switzerland', 'CHE', 'Switzerland', 'High income', 'Europe & Central Asia', 'Yes'),
 (243, 'Trinidad and Tobago', 'TTO', 'Republic of Trinidad and Tobago', 'High income', 'Latin America & Caribbean', 'Yes'),
 (247, 'Turks and Caicos Isl.', 'TCA', 'Turks and Caicos Islands', 'High income', 'Latin America & Caribbean', 'No'),
 (251, 'United Arab Emirates', 'ARE', 'United Arab Emirates', 'High income', 'Middle East & North Africa', 'Yes'),
 (252, 'United Kingdom', 'GBR', 'United Kingdom of Great Britain and Northern Ireland', 'High income', 'Europe & Central Asia', 'Yes'),
 (253, 'United States', 'USA', 'United States of America', 'High income', 'North America', 'Yes'),
 (256, 'Uruguay', 'URY', 'Oriental Republic of Uruguay', 'High income', 'Latin America & Caribbean', 'Yes'),
 (260, 'Venezuela', 'VEN', 'República Bolivariana de Venezuela', 'High income', 'Latin America & Caribbean', 'Yes')]

In [41]:
%%sql
ALTER TABLE TRADE
DROP COLUMN nomenclature,
DROP COLUMN reporteriso3,
DROP COLUMN reportername;

Done.

[]

In [46]:
%sql SELECT * FROM trade where partneriso3='JPN' limit 100;

100 rows affected.

[(Decimal('1'), '10111', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('405')),
 (Decimal('2'), '10111', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('810.09')),
 (Decimal('3'), '10111', 'JPN', 'Japan', '2014', 'Import', Decimal('5'), Decimal('0.016')),
 (Decimal('4'), '10111', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('490.09')),
 (Decimal('5'), '10111', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('1475.09')),
 (Decimal('7'), '10119', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('285.098')),
 (Decimal('8'), '10119', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('215')),
 (Decimal('9'), '10119', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('540.09')),
 (Decimal('30'), '10600', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('127.226')),
 (Decimal('31'), '10600', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('196.429')),
 (Decimal('32'), '10600', 'JPN', 'Japan', '2011', 'Import', Decimal('5'), Decimal('0.2')),
 (Decimal('33'), '10600', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('224.507')),
 (Decimal('34'), '10600', 'JPN', 'Japan', '2012', 'Import', Decimal('5'), Decimal('5.681')),
 (Decimal('35'), '10600', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('168.323')),
 (Decimal('36'), '10600', 'JPN', 'Japan', '2013', 'Import', Decimal('5'), Decimal('8.344')),
 (Decimal('37'), '10600', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('203.287')),
 (Decimal('38'), '10600', 'JPN', 'Japan', '2014', 'Import', Decimal('5'), Decimal('6.26')),
 (Decimal('39'), '10600', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('193.318')),
 (Decimal('40'), '10600', 'JPN', 'Japan', '2015', 'Import', Decimal('5'), Decimal('61.832')),
 (Decimal('41'), '10600', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('144.544')),
 (Decimal('42'), '10600', 'JPN', 'Japan', '2016', 'Import', Decimal('5'), Decimal('115.817')),
 (Decimal('67'), '20120', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('109.069')),
 (Decimal('68'), '20120', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('164.471')),
 (Decimal('69'), '20120', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('344.741')),
 (Decimal('70'), '20120', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('222.111')),
 (Decimal('71'), '20120', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('250.707')),
 (Decimal('72'), '20120', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('51.215')),
 (Decimal('73'), '20120', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('146.769')),
 (Decimal('77'), '20130', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('8618.316')),
 (Decimal('78'), '20130', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('10399.846')),
 (Decimal('79'), '20130', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('15540.995')),
 (Decimal('80'), '20130', 'JPN', 'Japan', '2012', 'Import', Decimal('5'), Decimal('0.913')),
 (Decimal('81'), '20130', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('17227.445')),
 (Decimal('82'), '20130', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('24527.78')),
 (Decimal('83'), '20130', 'JPN', 'Japan', '2014', 'Import', Decimal('5'), Decimal('91.818')),
 (Decimal('84'), '20130', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('22686.765')),
 (Decimal('85'), '20130', 'JPN', 'Japan', '2015', 'Import', Decimal('5'), Decimal('67.102')),
 (Decimal('86'), '20130', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('20703.024')),
 (Decimal('87'), '20130', 'JPN', 'Japan', '2016', 'Import', Decimal('5'), Decimal('122.578')),
 (Decimal('96'), '20210', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('559.999')),
 (Decimal('97'), '20210', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('217.988')),
 (Decimal('98'), '20210', 'JPN', 'Japan', '2011', 'Import', Decimal('5'), Decimal('0.264')),
 (Decimal('101'), '20220', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('428.33')),
 (Decimal('102'), '20220', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('587.987')),
 (Decimal('103'), '20220', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('159.144')),
 (Decimal('104'), '20220', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('933.276')),
 (Decimal('105'), '20220', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('292.284')),
 (Decimal('106'), '20220', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('239.477')),
 (Decimal('107'), '20220', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('209.012')),
 (Decimal('115'), '20230', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('47640.633')),
 (Decimal('116'), '20230', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('61991.143')),
 (Decimal('117'), '20230', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('92451.387')),
 (Decimal('118'), '20230', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('63887.944')),
 (Decimal('119'), '20230', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('53977.799')),
 (Decimal('120'), '20230', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('36846.338')),
 (Decimal('121'), '20230', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('18570.575')),
 (Decimal('136'), '20312', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('42.806')),
 (Decimal('137'), '20312', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('58.973')),
 (Decimal('138'), '20312', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('105.391')),
 (Decimal('139'), '20312', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('277.723')),
 (Decimal('141'), '20319', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('33203.115')),
 (Decimal('142'), '20319', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('33278.992')),
 (Decimal('143'), '20319', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('31545.065')),
 (Decimal('144'), '20319', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('32485.266')),
 (Decimal('145'), '20319', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('50911.439')),
 (Decimal('146'), '20319', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('46034.449')),
 (Decimal('147'), '20319', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('45857.365')),
 (Decimal('158'), '20321', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('150.595')),
 (Decimal('159'), '20321', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('168.492')),
 (Decimal('160'), '20321', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('0')),
 (Decimal('161'), '20321', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('437.663')),
 (Decimal('163'), '20322', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('2226.256')),
 (Decimal('164'), '20322', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('3069.281')),
 (Decimal('165'), '20322', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('2621.101')),
 (Decimal('166'), '20322', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('601.503')),
 (Decimal('167'), '20322', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('349.558')),
 (Decimal('168'), '20322', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('555.44')),
 (Decimal('169'), '20322', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('1143.219')),
 (Decimal('178'), '20329', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('331250.887')),
 (Decimal('179'), '20329', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('410035.46')),
 (Decimal('180'), '20329', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('455630.353')),
 (Decimal('181'), '20329', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('523327.927')),
 (Decimal('182'), '20329', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('459392.717')),
 (Decimal('183'), '20329', 'JPN', 'Japan', '2014', 'Import', Decimal('5'), Decimal('0.35')),
 (Decimal('184'), '20329', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('384362.884')),
 (Decimal('185'), '20329', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('416599.61')),
 (Decimal('200'), '20441', 'JPN', 'Japan', '2011', 'Import', Decimal('5'), Decimal('0.077')),
 (Decimal('202'), '20443', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('90.479')),
 (Decimal('203'), '20450', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('1.032')),
 (Decimal('205'), '20500', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('5278.242')),
 (Decimal('206'), '20500', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('4883.079')),
 (Decimal('207'), '20500', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('4694.612')),
 (Decimal('208'), '20500', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('3909.333')),
 (Decimal('209'), '20500', 'JPN', 'Japan', '2014', 'Export', Decimal('6'), Decimal('3642.709')),
 (Decimal('210'), '20500', 'JPN', 'Japan', '2015', 'Export', Decimal('6'), Decimal('4405.748')),
 (Decimal('211'), '20500', 'JPN', 'Japan', '2016', 'Export', Decimal('6'), Decimal('6533.709')),
 (Decimal('214'), '20610', 'JPN', 'Japan', '2010', 'Export', Decimal('6'), Decimal('421.369')),
 (Decimal('215'), '20610', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('1776.907')),
 (Decimal('216'), '20610', 'JPN', 'Japan', '2012', 'Export', Decimal('6'), Decimal('1174.667')),
 (Decimal('217'), '20610', 'JPN', 'Japan', '2013', 'Export', Decimal('6'), Decimal('1119.306'))]

## Part C Analysis

* %country/world ~ time
-- bangladesh, china, india, japan, korea, thailand, vietname, 
* %country/asia ~ time
-- combodia, sri lanka
* H2_cat -- food, textile, trans, 
 ~ china, high income, vietname, thailand
* UNCTA1,2,3,4 ~ incomegroup

In [120]:
%%sql
WITH CHN AS(
    SELECT year, partneriso3, SUM(value_in_000) AS sum1
    FROM trade
    WHERE partneriso3 = 'CHN' AND tradeflow='Import'
    GROUP by year, partneriso3), 
WLD AS(
    SELECT year, partneriso3, SUM(value_in_000) AS sum2
    FROM trade
    WHERE partneriso3 = 'WLD' AND tradeflow='Import'
    GROUP by year, partneriso3)
SELECT wld.year, 100*sum1/sum2 AS perc FROM CHN, WLD WHERE CHN.year=WLD.year order by year

17 rows affected.

[('2000', Decimal('2.3352561763970483')),
 ('2001', Decimal('2.9243358801964190')),
 ('2002', Decimal('3.7585407882977917')),
 ('2003', Decimal('5.1860695541048725')),
 ('2004', Decimal('6.5603488600173302')),
 ('2005', Decimal('7.1863342299147254')),
 ('2006', Decimal('7.2204494761831358')),
 ('2007', Decimal('7.7270558768802938')),
 ('2008', Decimal('8.9270604437809098')),
 ('2009', Decimal('10.0803357420924002')),
 ('2010', Decimal('14.1574791574503072')),
 ('2011', Decimal('14.4985843511902264')),
 ('2012', Decimal('15.2502191068843254')),
 ('2013', Decimal('15.9207452387667530')),
 ('2014', Decimal('16.6415883892726826')),
 ('2015', Decimal('18.0473912166740198')),
 ('2016', Decimal('18.2514957554094915'))]

In [119]:
%%sql

WITH cte AS (
    SELECT year, partneriso3, sum(value_in_000) AS total
    FROM trade
    WHERE partneriso3 = 'WLD' or partneriso3 = 'CHN' AND tradeflow = 'Import'
    GROUP BY year, partneriso3
    )

select year, partneriso3, total, sum(total) over(partition by year) as sum1, total/sum(total) over(partition by year)
from cte

34 rows affected.

[('2000', 'CHN', Decimal('8215718.913'), Decimal('706395184.462'), Decimal('0.01163048544740179843')),
 ('2000', 'WLD', Decimal('698179465.549'), Decimal('706395184.462'), Decimal('0.98836951455259820157')),
 ('2001', 'CHN', Decimal('10365107.326'), Decimal('700514942.886'), Decimal('0.01479641145597488119')),
 ('2001', 'WLD', Decimal('690149835.560'), Decimal('700514942.886'), Decimal('0.98520358854402511881')),
 ('2002', 'CHN', Decimal('12293289.530'), Decimal('677165509.500'), Decimal('0.01815403968090019800')),
 ('2002', 'WLD', Decimal('664872219.970'), Decimal('677165509.500'), Decimal('0.98184596031909980200')),
 ('2003', 'WLD', Decimal('714734547.917'), Decimal('732469063.224'), Decimal('0.97578803502097327509')),
 ('2003', 'CHN', Decimal('17734515.307'), Decimal('732469063.224'), Decimal('0.02421196497902672491')),
 ('2004', 'CHN', Decimal('27353448.456'), Decimal('909825521.770'), Decimal('0.03006449896325818255')),
 ('2004', 'WLD', Decimal('882472073.314'), Decimal('909825521.770'), Decimal('0.96993550103674181745')),
 ('2005', 'WLD', Decimal('1063984220.475'), Decimal('1099881264.731'), Decimal('0.96736280050667159363')),
 ('2005', 'CHN', Decimal('35897044.256'), Decimal('1099881264.731'), Decimal('0.03263719949332840637')),
 ('2006', 'WLD', Decimal('1254208380.967'), Decimal('1296672545.960'), Decimal('0.96725143512500191194')),
 ('2006', 'CHN', Decimal('42464164.993'), Decimal('1296672545.960'), Decimal('0.03274856487499808806')),
 ('2007', 'WLD', Decimal('1349255553.109'), Decimal('1401258651.626'), Decimal('0.96288829442254906563')),
 ('2007', 'CHN', Decimal('52003098.517'), Decimal('1401258651.626'), Decimal('0.03711170557745093437')),
 ('2008', 'CHN', Decimal('76222249.726'), Decimal('1791799183.302'), Decimal('0.04253950467012411267')),
 ('2008', 'WLD', Decimal('1715576933.576'), Decimal('1791799183.302'), Decimal('0.95746049532987588733')),
 ('2009', 'WLD', Decimal('1322869213.755'), Decimal('1388371664.162'), Decimal('0.95282066603791119443')),
 ('2009', 'CHN', Decimal('65502450.407'), Decimal('1388371664.162'), Decimal('0.04717933396208880557')),
 ('2010', 'CHN', Decimal('118925015.688'), Decimal('1817665683.960'), Decimal('0.06542733173512291123')),
 ('2010', 'WLD', Decimal('1698740668.272'), Decimal('1817665683.960'), Decimal('0.93457266826487708877')),
 ('2011', 'WLD', Decimal('2079681413.256'), Decimal('2229762385.562'), Decimal('0.93269194364485035820')),
 ('2011', 'CHN', Decimal('150080972.306'), Decimal('2229762385.562'), Decimal('0.06730805635514964180')),
 ('2012', 'CHN', Decimal('162510761.517'), Decimal('2314384584.683'), Decimal('0.07021769959605007081')),
 ('2012', 'WLD', Decimal('2151873823.166'), Decimal('2314384584.683'), Decimal('0.92978230040394992919')),
 ('2013', 'CHN', Decimal('172093027.228'), Decimal('2337334861.796'), Decimal('0.07362788706097692602')),
 ('2013', 'WLD', Decimal('2165241834.568'), Decimal('2337334861.796'), Decimal('0.92637211293902307398')),
 ('2014', 'WLD', Decimal('2021843782.945'), Decimal('2194572662.925'), Decimal('0.92129270408855765137')),
 ('2014', 'CHN', Decimal('172728879.980'), Decimal('2194572662.925'), Decimal('0.07870729591144234863')),
 ('2015', 'WLD', Decimal('1777652459.751'), Decimal('1943655452.640'), Decimal('0.91459237661514345340')),
 ('2015', 'CHN', Decimal('166002992.889'), Decimal('1943655452.640'), Decimal('0.08540762338485654660')),
 ('2016', 'WLD', Decimal('1666574420.979'), Decimal('1819528674.711'), Decimal('0.91593743156793388690')),
 ('2016', 'CHN', Decimal('152954253.732'), Decimal('1819528674.711'), Decimal('0.08406256843206611310'))]

### Category x Country

In [138]:
%%sql
WITH CHN AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum1
    FROM trade 
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'CHN' 
    AND trade.tradeflow='Import' 
    AND product.h2_category='Vegetable'
    GROUP by trade.year, trade.partneriso3), 
WLD AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum2
    FROM trade
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'WLD' 
    AND trade.tradeflow='Import' 
    AND product.h2_category='Vegetable'
    GROUP by trade.year, trade.partneriso3)
SELECT wld.year, 100*sum1/sum2 AS perc FROM CHN, WLD WHERE CHN.year=WLD.year ORDER BY year

17 rows affected.

[('2000', Decimal('1.3189211005078404')),
 ('2001', Decimal('1.4211126672813370')),
 ('2002', Decimal('1.4450215042310854')),
 ('2003', Decimal('1.2375733515537675')),
 ('2004', Decimal('1.0921930170671856')),
 ('2005', Decimal('1.6425052271492646')),
 ('2006', Decimal('1.4561013698453796')),
 ('2007', Decimal('1.0778724034794461')),
 ('2008', Decimal('1.4100110586398259')),
 ('2009', Decimal('1.6189164278007486')),
 ('2010', Decimal('2.2245835106893741')),
 ('2011', Decimal('1.7675656663598458')),
 ('2012', Decimal('1.9818755078430979')),
 ('2013', Decimal('2.3062974328633059')),
 ('2014', Decimal('1.6884542255839802')),
 ('2015', Decimal('2.2289934516167831')),
 ('2016', Decimal('2.6418535962503785'))]

In [139]:
%%sql
WITH CHN AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum1
    FROM trade 
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'CHN' 
    AND trade.tradeflow='Import' 
    AND product.h2_category like 'Food%'
    GROUP by trade.year, trade.partneriso3), 
WLD AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum2
    FROM trade
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'WLD' 
    AND trade.tradeflow='Import' 
    AND product.h2_category like 'Food%'
    GROUP by trade.year, trade.partneriso3)
SELECT wld.year, 100*sum1/sum2 AS perc FROM CHN, WLD WHERE CHN.year=WLD.year ORDER BY year

17 rows affected.

[('2000', Decimal('0.33300201481071588612')),
 ('2001', Decimal('0.41196192458679672609')),
 ('2002', Decimal('0.46434045347199049515')),
 ('2003', Decimal('0.57340314346961973817')),
 ('2004', Decimal('0.61210548392530214653')),
 ('2005', Decimal('0.93492796395296765335')),
 ('2006', Decimal('1.7249650574582058')),
 ('2007', Decimal('1.3386576141114975')),
 ('2008', Decimal('1.4906464443268149')),
 ('2009', Decimal('1.3640885018985621')),
 ('2010', Decimal('1.9271843268565520')),
 ('2011', Decimal('1.9981675651612111')),
 ('2012', Decimal('1.8448483984029966')),
 ('2013', Decimal('2.4877660882097168')),
 ('2014', Decimal('2.1578487747522117')),
 ('2015', Decimal('2.3297097028393332')),
 ('2016', Decimal('2.3288797846757563'))]

In [140]:
%%sql
WITH CHN AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum1
    FROM trade 
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'CHN' 
    AND trade.tradeflow='Import' 
    AND product.h2_category like 'Trans%'
    GROUP by trade.year, trade.partneriso3), 
WLD AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum2
    FROM trade
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'WLD' 
    AND trade.tradeflow='Import' 
    AND product.h2_category like 'Trans%'
    GROUP by trade.year, trade.partneriso3)
SELECT wld.year, 100*sum1/sum2 AS perc FROM CHN, WLD WHERE CHN.year=WLD.year ORDER BY year

13 rows affected.

[('2000', Decimal('0.53538785245302514512')),
 ('2001', Decimal('0.75909503729946586038')),
 ('2002', Decimal('0.85429545235869884483')),
 ('2003', Decimal('1.0922258327798027')),
 ('2004', Decimal('1.5807558022129989')),
 ('2005', Decimal('2.1966929267448053')),
 ('2010', Decimal('4.7311244884242362')),
 ('2011', Decimal('6.1238832959334998')),
 ('2012', Decimal('6.8189728610616336')),
 ('2013', Decimal('7.2557851827706609')),
 ('2014', Decimal('7.9427855935665492')),
 ('2015', Decimal('8.9616065530448505')),
 ('2016', Decimal('8.2952213074868341'))]

In [141]:
%%sql
WITH CHN AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum1
    FROM trade 
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'CHN' 
    AND trade.tradeflow='Import' 
    AND product.h2_category like 'Textile%'
    GROUP by trade.year, trade.partneriso3), 
WLD AS(
    SELECT trade.year, trade.partneriso3, SUM(trade.value_in_000) AS sum2
    FROM trade
    JOIN product
    ON trade.productcode = product.productcode
    AND trade.partneriso3 = 'WLD' 
    AND trade.tradeflow='Import' 
    AND product.h2_category like 'Textile%'
    GROUP by trade.year, trade.partneriso3)
SELECT wld.year, 100*sum1/sum2 AS perc FROM CHN, WLD WHERE CHN.year=WLD.year ORDER BY year

17 rows affected.

[('2000', Decimal('5.3477656126653137')),
 ('2001', Decimal('6.3944310031831300')),
 ('2002', Decimal('7.6949388858918238')),
 ('2003', Decimal('9.6908252896388693')),
 ('2004', Decimal('13.1342626206930645')),
 ('2005', Decimal('14.8592932507248819')),
 ('2006', Decimal('19.8463026830953660')),
 ('2007', Decimal('22.1329425497953499')),
 ('2008', Decimal('23.9462340721640031')),
 ('2009', Decimal('27.3741723501400455')),
 ('2010', Decimal('33.1441286322232879')),
 ('2011', Decimal('35.7347253710354898')),
 ('2012', Decimal('38.4439636799221222')),
 ('2013', Decimal('39.0638505988410843')),
 ('2014', Decimal('41.2158446966128153')),
 ('2015', Decimal('42.0336844081895653')),
 ('2016', Decimal('40.7663057589912523'))]

In [150]:
%sql select count(*) from product where h2_descriptor is null;

1 rows affected.

[(0,)]

In [156]:
%%sql
SELECT h2_category, sum(value_in_000)
FROM trade
join product
on trade.productcode = product.productcode
and partneriso3 = 'JPN' and year='2016'
GROUP BY h2_category
order by sum;

16 rows affected.

[('Footwear', Decimal('17408.207')),
 ('Hides and Skins', Decimal('38510.945')),
 ('Textiles and Clothing', Decimal('146946.983')),
 ('Stone and Glass', Decimal('158465.917')),
 ('Wood', Decimal('659596.768')),
 ('Food Products', Decimal('959997.884')),
 ('Chemicals', Decimal('1700197.875')),
 ('Plastic or Rubber', Decimal('1747615.251')),
 ('Fuels', Decimal('1867134.775')),
 ('Miscellaneous', Decimal('1979223.660')),
 ('Vegetable', Decimal('2337399.372')),
 ('Animal', Decimal('2458918.302')),
 ('Metals', Decimal('4211120.752')),
 ('Minerals', Decimal('6069051.603')),
 ('Transportation', Decimal('9783682.422')),
 ('Mach and Elec', Decimal('11642205.243'))]

In [167]:
%%sql
SELECT h2_category, sum(value_in_000), product.productgroupdes
FROM trade
join product
on trade.productcode = product.productcode
and partneriso3 = 'CHN'
GROUP BY h2_category, product.productgroupdes
order by h2_category;

52 rows affected.

[('Animal', Decimal('2171523.039'), ' Intermediate goods'),
 ('Animal', Decimal('51366.154'), ' Capital goods'),
 ('Animal', Decimal('184388.947'), ' Consumer goods'),
 ('Animal', Decimal('16103961.295'), ' Raw materials'),
 ('Chemicals', Decimal('93288406.356'), ' Intermediate goods'),
 ('Chemicals', Decimal('9645552.022'), ' Consumer goods'),
 ('Chemicals', Decimal('22990.785'), ' Raw materials'),
 ('Food Products', Decimal('5205050.598'), ' Raw materials'),
 ('Food Products', Decimal('9442808.598'), ' Consumer goods'),
 ('Food Products', Decimal('22576066.478'), ' Intermediate goods'),
 ('Footwear', Decimal('1617942.951'), ' Intermediate goods'),
 ('Footwear', Decimal('33186430.684'), ' Consumer goods'),
 ('Fuels', Decimal('6943579.870'), ' Intermediate goods'),
 ('Fuels', Decimal('65415430.951'), ' Raw materials'),
 ('Fuels', Decimal('2093264.178'), ' Consumer goods'),
 ('Hides and Skins', Decimal('364323.410'), ' Raw materials'),
 ('Hides and Skins', Decimal('17186172.503'), ' Consumer goods'),
 ('Hides and Skins', Decimal('9784489.948'), ' Intermediate goods'),
 ('Mach and Elec', Decimal('60308515.102'), ' Consumer goods'),
 ('Mach and Elec', Decimal('699834789.459'), ' Capital goods'),
 ('Mach and Elec', Decimal('3843041.923'), ' Intermediate goods'),
 ('Metals', Decimal('44652411.803'), ' Consumer goods'),
 ('Metals', Decimal('1975159.165'), ' Capital goods'),
 ('Metals', Decimal('179560836.899'), ' Intermediate goods'),
 ('Metals', Decimal('12928884.281'), ' Raw materials'),
 ('Minerals', Decimal('44044.912'), ' Consumer goods'),
 ('Minerals', Decimal('241242722.568'), ' Raw materials'),
 ('Minerals', Decimal('332678.562'), ' Intermediate goods'),
 ('Miscellaneous', Decimal('8522040.157'), ' Intermediate goods'),
 ('Miscellaneous', Decimal('30201758.542'), ' Capital goods'),
 ('Miscellaneous', Decimal('10225.696'), ' Raw materials'),
 ('Miscellaneous', Decimal('62566844.557'), ' Consumer goods'),
 ('Plastic or Rubber', Decimal('48645172.573'), ' Consumer goods'),
 ('Plastic or Rubber', Decimal('1075797.861'), ' Raw materials'),
 ('Plastic or Rubber', Decimal('20900693.970'), ' Intermediate goods'),
 ('Stone and Glass', Decimal('3040237.912'), ' Intermediate goods'),
 ('Stone and Glass', Decimal('52.903'), ' Capital goods'),
 ('Stone and Glass', Decimal('661963.653'), ' Raw materials'),
 ('Stone and Glass', Decimal('23285981.491'), ' Consumer goods'),
 ('Textiles and Clothing', Decimal('77156488.356'), ' Consumer goods'),
 ('Textiles and Clothing', Decimal('4501544.573'), ' Raw materials'),
 ('Textiles and Clothing', Decimal('50117081.416'), ' Intermediate goods'),
 ('Transportation', Decimal('45880226.562'), ' Capital goods'),
 ('Transportation', Decimal('6754030.088'), ' Intermediate goods'),
 ('Transportation', Decimal('15548997.114'), ' Consumer goods'),
 ('Vegetable', Decimal('976805.788'), ' Consumer goods'),
 ('Vegetable', Decimal('168645141.905'), ' Raw materials'),
 ('Vegetable', Decimal('22047495.426'), ' Intermediate goods'),
 ('Wood', Decimal('37743020.040'), ' Intermediate goods'),
 ('Wood', Decimal('608.993'), ' Capital goods'),
 ('Wood', Decimal('914930.237'), ' Raw materials'),
 ('Wood', Decimal('7853419.844'), ' Consumer goods')]

In [180]:
%%sql
WITH low AS(
    SELECT trade.year, country.incomegroup, SUM(trade.value_in_000) AS sum1
    FROM trade 
    join country
    on country.countryiso3 = trade.partneriso3
    and country.incomegroup = 'Low income'
    AND trade.tradeflow='Import'
    join product
    on trade.productcode = product.productcode
    and product.productgroupdes = 'Raw materials'
    GROUP by trade.year, country.incomegroup)

select * from low;

0 rows affected.

[]

In [ ]:
%sql

In [ ]:
WLD AS(
    SELECT trade.year,trade.partneriso3, SUM(trade.value_in_000) AS sum2
    FROM trade, product     
    where trade.partneriso3 = 'WLD' 
    AND trade.tradeflow='Import'
    and trade.productcode = product.productcode
    and product.productgroupdes = 'Raw materials'
    GROUP by trade.year, trade.partneriso3)

SELECT wld.year, 100*sum1/sum2 AS perc FROM CHN, WLD WHERE CHN.year=WLD.year ORDER BY year

In [169]:
%%sql
select productcode, count(*) from product group by productcode order by count desc

5011 rows affected.

[('9999AA', 58),
 ('570220', 1),
 ('821420', 1),
 ('200820', 1),
 ('760720', 1),
 ('950350', 1),
 ('90420', 1),
 ('30270', 1),
 ('80211', 1),
 ('620452', 1),
 ('610620', 1),
 ('940180', 1),
 ('530921', 1),
 ('741999', 1),
 ('890120', 1),
 ('610799', 1),
 ('880211', 1),
 ('284011', 1),
 ('901530', 1),
 ('510121', 1),
 ('850490', 1),
 ('590900', 1),
 ('722220', 1),
 ('871310', 1),
 ('430140', 1),
 ('290321', 1),
 ('620990', 1),
 ('320290', 1),
 ('860620', 1),
 ('480421', 1),
 ('450310', 1),
 ('732183', 1),
 ('391510', 1),
 ('850230', 1),
 ('550953', 1),
 ('750300', 1),
 ('291300', 1),
 ('940510', 1),
 ('845522', 1),
 ('701910', 1),
 ('390320', 1),
 ('740400', 1),
 ('481830', 1),
 ('720529', 1),
 ('380700', 1),
 ('851822', 1),
 ('870810', 1),
 ('360200', 1),
 ('720521', 1),
 ('700992', 1),
 ('820220', 1),
 ('180620', 1),
 ('130219', 1),
 ('291250', 1),
 ('821599', 1),
 ('610230', 1),
 ('620112', 1),
 ('560500', 1),
 ('220840', 1),
 ('845410', 1),
 ('251749', 1),
 ('252510', 1),
 ('430110', 1),
 ('210120', 1),
 ('847439', 1),
 ('640351', 1),
 ('721331', 1),
 ('731290', 1),
 ('720841', 1),
 ('710121', 1),
 ('10290', 1),
 ('71331', 1),
 ('844790', 1),
 ('840991', 1),
 ('392072', 1),
 ('900810', 1),
 ('853090', 1),
 ('310590', 1),
 ('821210', 1),
 ('520511', 1),
 ('843062', 1),
 ('482290', 1),
 ('551229', 1),
 ('330510', 1),
 ('848071', 1),
 ('940591', 1),
 ('730441', 1),
 ('900319', 1),
 ('510400', 1),
 ('680221', 1),
 ('110620', 1),
 ('960831', 1),
 ('330123', 1),
 ('900120', 1),
 ('262011', 1),
 ('820330', 1),
 ('690210', 1),
 ('71029', 1),
 ('521214', 1),
 ('848210', 1),
 ('80450', 1),
 ('551611', 1),
 ('151219', 1),
 ('591000', 1),
 ('740822', 1),
 ('30322', 1),
 ('550810', 1),
 ('282590', 1),
 ('740500', 1),
 ('110710', 1),
 ('902810', 1),
 ('731512', 1),
 ('252310', 1),
 ('270400', 1),
 ('150810', 1),
 ('271011', 1),
 ('170112', 1),
 ('283324', 1),
 ('230640', 1),
 ('640691', 1),
 ('611190', 1),
 ('901540', 1),
 ('70820', 1),
 ('731430', 1),
 ('391610', 1),
 ('210500', 1),
 ('620199', 1),
 ('30410', 1),
 ('293410', 1),
 ('521029', 1),
 ('830790', 1),
 ('950629', 1),
 ('251020', 1),
 ('690710', 1),
 ('50610', 1),
 ('441129', 1),
 ('291430', 1),
 ('630710', 1),
 ('840490', 1),
 ('290359', 1),
 ('854049', 1),
 ('400950', 1),
 ('170260', 1),
 ('320419', 1),
 ('200600', 1),
 ('20110', 1),
 ('291829', 1),
 ('847740', 1),
 ('291421', 1),
 ('200120', 1),
 ('370252', 1),
 ('350210', 1),
 ('330520', 1),
 ('440910', 1),
 ('680300', 1),
 ('860791', 1),
 ('20820', 1),
 ('740921', 1),
 ('551333', 1),
 ('844832', 1),
 ('50690', 1),
 ('761410', 1),
 ('850110', 1),
 ('845931', 1),
 ('842832', 1),
 ('310310', 1),
 ('640192', 1),
 ('844210', 1),
 ('722720', 1),
 ('848280', 1),
 ('551339', 1),
 ('591120', 1),
 ('720844', 1),
 ('420100', 1),
 ('110429', 1),
 ('722810', 1),
 ('811219', 1),
 ('291737', 1),
 ('500600', 1),
 ('370400', 1),
 ('410320', 1),
 ('841111', 1),
 ('330130', 1),
 ('293319', 1),
 ('482320', 1),
 ('830140', 1),
 ('810193', 1),
 ('151110', 1),
 ('711311', 1),
 ('480990', 1),
 ('271311', 1),
 ('848030', 1),
 ('731816', 1),
 ('281122', 1),
 ('281820', 1),
 ('711039', 1),
 ('846420', 1),
 ('848310', 1),
 ('710110', 1),
 ('843230', 1),
 ('380630', 1),
 ('291422', 1),
 ('350300', 1),
 ('847590', 1),
 ('902121', 1),
 ('71230', 1),
 ('520919', 1),
 ('847890', 1),
 ('290944', 1),
 ('521225', 1),
 ('370520', 1),
 ('722011', 1),
 ('500790', 1),
 ('283660', 1),
 ('190490', 1),
 ('902910', 1),
 ('450190', 1),
 ('270300', 1),
 ('610461', 1),
 ('291816', 1),
 ('920991', 1),
 ('760421', 1),
 ('852031', 1),
 ('720821', 1),
 ('210310', 1),
 ('847210', 1),
 ('860712', 1),
 ('283531', 1),
 ('400239', 1),
 ('761490', 1),
 ('30211', 1),
 ('151000', 1),
 ('190211', 1),
 ('621030', 1),
 ('40891', 1),
 ('540261', 1),
 ('854411', 1),
 ('151710', 1),
 ('151920', 1),
 ('250510', 1),
 ('840820', 1),
 ('620111', 1),
 ('850890', 1),
 ('854449', 1),
 ('230120', 1),
 ('81040', 1),
 ('392099', 1),
 ('550630', 1),
 ('844230', 1),
 ('30233', 1),
 ('750120', 1),
 ('530599', 1),
 ('820320', 1),
 ('960500', 1),
 ('821191', 1),
 ('271220', 1),
 ('880212', 1),
 ('720720', 1),
 ('480442', 1),
 ('521213', 1),
 ('151913', 1),
 ('550962', 1),
 ('911490', 1),
 ('741521', 1),
 ('731300', 1),
 ('521052', 1),
 ('870899', 1),
 ('620341', 1),
 ('100830', 1),
 ('380810', 1),
 ('551449', 1),
 ('600192', 1),
 ('630291', 1),
 ('291822', 1),
 ('370256', 1),
 ('392290', 1),
 ('854430', 1),
 ('810291', 1),
 ('210610', 1),
 ('50510', 1),
 ('852520', 1),
 ('853931', 1),
 ('490510', 1),
 ('281630', 1),
 ('481032', 1),
 ('621020', 1),
 ('560819', 1),
 ('611790', 1),
 ('441212', 1),
 ('720812', 1),
 ('845590', 1),
 ('410619', 1),
 ('842010', 1),
 ('480570', 1),
 ('670290', 1),
 ('521152', 1),
 ('830400', 1),
 ('841451', 1),
 ('902219', 1),
 ('750720', 1),
 ('290621', 1),
 ('291639', 1),
 ('210220', 1),
 ('760692', 1),
 ('848590', 1),
 ('120300', 1),
 ('280540', 1),
 ('391211', 1),
 ('670100', 1),
 ('370242', 1),
 ('151321', 1),
 ('620332', 1),
 ('580123', 1),
 ('130211', 1),
 ('930310', 1),
 ('810600', 1),
 ('710229', 1),
 ('810790', 1),
 ('200819', 1),
 ('40221', 1),
 ('847940', 1),
 ('580125', 1),
 ('960329', 1),
 ('401700', 1),
 ('290549', 1),
 ('370199', 1),
 ('551291', 1),
 ('50210', 1),
 ('681110', 1),
 ('281810', 1),
 ('630392', 1),
 ('520100', 1),
 ('330710', 1),
 ('650610', 1),
 ('160210', 1),
 ('250850', 1),
 ('551342', 1),
 ('732490', 1),
 ('120930', 1),
 ('470200', 1),
 ('392329', 1),
 ('293629', 1),
 ('720890', 1),
 ('960810', 1),
 ('340319', 1),
 ('930100', 1),
 ('282560', 1),
 ('902610', 1),
 ('300239', 1),
 ('271113', 1),
 ('720410', 1),
 ('290351', 1),
 ('482010', 1),
 ('850163', 1),
 ('842131', 1),
 ('280440', 1),
 ('520523', 1),
 ('271114', 1),
 ('842123', 1),
 ('291513', 1),
 ('481910', 1),
 ('620590', 1),
 ('20710', 1),
 ('441830', 1),
 ('80520', 1),
 ('853110', 1),
 ('890790', 1),
 ('292320', 1),
 ('252810', 1),
 ('151540', 1),
 ('283422', 1),
 ('610721', 1),
 ('590700', 1),
 ('810490', 1),
 ('700319', 1),
 ('820240', 1),
 ('841939', 1),
 ('950611', 1),
 ('630493', 1),
 ('531010', 1),
 ('680100', 1),
 ('961490', 1),
 ('521215', 1),
 ('291590', 1),
 ('551441', 1),
 ('511111', 1),
 ('845150', 1),
 ('250610', 1),
 ('721660', 1),
 ('670420', 1),
 ('850162', 1),
 ('250860', 1),
 ('811299', 1),
 ('551323', 1),
 ('411000', 1),
 ('293340', 1),
 ('732599', 1),
 ('271210', 1),
 ('370295', 1),
 ('620192', 1),
 ('20230', 1),
 ('170240', 1),
 ('540794', 1),
 ('30622', 1),
 ('611519', 1),
 ('847010', 1),
 ('845110', 1),
 ('620444', 1),
 ('370231', 1),
 ('291242', 1),
 ('871411', 1),
 ('220890', 1),
 ('901580', 1),
 ('520839', 1),
 ('610411', 1),
 ('150590', 1),
 ('846791', 1),
 ('920290', 1),
 ('621510', 1),
 ('846931', 1),
 ('520912', 1),
 ('550942', 1),
 ('850511', 1),
 ('841330', 1),
 ('871419', 1),
 ('100810', 1),
 ('871420', 1),
 ('870850', 1),
 ('120999', 1),
 ('570241', 1),
 ('620423', 1),
 ('110210', 1),
 ('252321', 1),
 ('370610', 1),
 ('410620', 1),
 ('480429', 1),
 ('520514', 1),
 ('630720', 1),
 ('940140', 1),
 ('530929', 1),
 ('283110', 1),
 ('300331', 1),
 ('220820', 1),
 ('732391', 1),
 ('152190', 1),
 ('860310', 1),
 ('140310', 1),
 ('282630', 1),
 ('690990', 1),
 ('960622', 1),
 ('741011', 1),
 ('620321', 1),
 ('521149', 1),
 ('160250', 1),
 ('230310', 1),
 ('903040', 1),
 ('400219', 1),
 ('290124', 1),
 ('911120', 1),
 ('852422', 1),
 ('851829', 1),
 ('700220', 1),
 ('780300', 1),
 ('761090', 1),
 ('290319', 1),
 ('720291', 1),
 ('392111', 1),
 ('152010', 1),
 ('281910', 1),
 ('271312', 1),
 ('600299', 1),
 ('260900', 1),
 ('620299', 1),
 ('851539', 1),
 ('854020', 1),
 ('370241', 1),
 ('611720', 1),
 ('681240', 1),
 ('940190', 1),
 ('290544', 1),
 ('620413', 1),
 ('330119', 1),
 ('930320', 1),
 ('521132', 1),
 ('820110', 1),
 ('854520', 1),
 ('481390', 1),
 ('340119', 1),
 ('844319', 1),
 ('720831', 1),
 ('550969', 1),
 ('847191', 1),
 ('842129', 1),
 ('30375', 1),
 ('940370', 1),
 ('292242', 1),
 ('460199', 1),
 ('110430', 1),
 ('350710', 1),
 ('920120', 1),
 ('900220', 1),
 ('540743', 1),
 ('580421', 1),
 ('681210', 1),
 ('130110', 1),
 ('294110', 1),
 ('30373', 1),
 ('284910', 1),
 ('480799', 1),
 ('780419', 1),
 ('570390', 1),
 ('830910', 1),
 ('291813', 1),
 ('262019', 1),
 ('591190', 1),
 ('640620', 1),
 ('721711', 1),
 ('300439', 1),
 ('140190', 1),
 ('251910', 1),
 ('500710', 1),
 ('521223', 1),
 ('253090', 1),
 ('620610', 1),
 ('481730', 1),
 ('30510', 1),
 ('284920', 1),
 ('550610', 1),
 ('570242', 1),
 ('760611', 1),
 ('530511', 1),
 ('280469', 1),
 ('711041', 1),
 ('610349', 1),
 ('681250', 1),
 ('851830', 1),
 ('391520', 1),
 ('510530', 1),
 ('950210', 1),
 ('846320', 1),
 ('854330', 1),
 ('650100', 1),
 ('81110', 1),
 ('711019', 1),
 ('844140', 1),
 ('152090', 1),
 ('410611', 1),
 ('902230', 1),
 ('10599', 1),
 ('870540', 1),
 ('830621', 1),
 ('853339', 1),
 ('920890', 1),
 ('71140', 1),
 ('250870', 1),
 ('282611', 1),
 ('851821', 1),
 ('845970', 1),
 ('291713', 1),
 ('732182', 1),
 ('960860', 1),
 ('293379', 1),
 ('611780', 1),
 ('190219', 1),
 ('392020', 1),
 ('50400', 1),
 ('520611', 1),
 ('510529', 1),
 ('720834', 1),
 ('482040', 1),
 ('293030', 1),
 ('251010', 1),
 ('721049', 1),
 ('903300', 1),
 ('732090', 1),
 ('580410', 1),
 ('721070', 1),
 ('851781', 1),
 ('283020', 1),
 ('20423', 1),
 ('151519', 1),
 ('20450', 1),
 ('10519', 1),
 ('293721', 1),
 ('271096', 1),
 ('610442', 1),
 ('590320', 1),
 ('30549', 1),
 ('853529', 1),
 ('392340', 1),
 ('848250', 1),
 ('293910', 1),
 ('200110', 1),
 ('810810', 1),
 ('551692', 1),
 ('253020', 1),
 ('262050', 1),
 ('930529', 1),
 ('230810', 1),
 ('290890', 1),
 ('291613', 1),
 ('902830', 1),
 ('291731', 1),
 ('291090', 1),
 ('440122', 1),
 ('290519', 1),
 ('790500', 1),
 ('845510', 1),
 ('220430', 1),
 ('300110', 1),
 ('902129', 1),
 ('283319', 1),
 ('350110', 1),
 ('500400', 1),
 ('760529', 1),
 ('620899', 1),
 ('540791', 1),
 ('551694', 1),
 ('844811', 1),
 ('852320', 1),
 ('230990', 1),
 ('480253', 1),
 ('551319', 1),
 ('722691', 1),
 ('271013', 1),
 ('20723', 1),
 ('940410', 1),
 ('844511', 1),
 ('370210', 1),
 ('280910', 1),
 ('290711', 1),
 ('681270', 1),
 ('732399', 1),
 ('200911', 1),
 ('841210', 1),
 ('520821', 1),
 ('950349', 1),
 ('292429', 1),
 ('722610', 1),
 ('722020', 1),
 ('852190', 1),
 ('551642', 1),
 ('30374', 1),
 ('480452', 1),
 ('540120', 1),
 ('531100', 1),
 ('830249', 1),
 ('291734', 1),
 ('630611', 1),
 ('721540', 1),
 ('480810', 1),
 ('731419', 1),
 ('283327', 1),
 ('830520', 1),
 ('900699', 1),
 ('51110', 1),
 ('120710', 1),
 ('80820', 1),
 ('340399', 1),
 ('440810', 1),
 ('722820', 1),
 ('310551', 1),
 ('700719', 1),
 ('340590', 1),
 ('300340', 1),
 ('90820', 1),
 ('860120', 1),
 ('871190', 1),
 ('630531', 1),
 ('850134', 1),
 ('551643', 1),
 ('930690', 1),
 ('540410', 1),
 ('20629', 1),
 ('60390', 1),
 ('630590', 1),
 ('820299', 1),
 ('283340', 1),
 ('630699', 1),
 ('848190', 1),
 ('250100', 1),
 ('680422', 1),
 ('960910', 1),
 ('830230', 1),
 ('282736', 1),
 ('701932', 1),
 ('280610', 1),
 ('844540', 1),
 ('853990', 1),
 ('860699', 1),
 ('950659', 1),
 ('60491', 1),
 ('731442', 1),
 ('81190', 1),
 ('251990', 1),
 ('60410', 1),
 ('320120', 1),
 ('690390', 1),
 ('640219', 1),
 ('731450', 1),
 ('550951', 1),
 ('381900', 1),
 ('841391', 1),
 ('853221', 1),
 ('250410', 1),
 ('820720', 1),
 ('850530', 1),
 ('320649', 1),
 ('440420', 1),
 ('610321', 1),
 ('845229', 1),
 ('843110', 1),
 ('382000', 1),
 ('391739', 1),
 ('871110', 1),
 ('640391', 1),
 ('360610', 1),
 ('381300', 1),
 ('901600', 1),
 ('71339', 1),
 ('760612', 1),
 ('722990', 1),
 ('560721', 1),
 ('490599', 1),
 ('382340', 1),
 ('440792', 1),
 ('293390', 1),
 ('401210', 1),
 ('551634', 1),
 ('370191', 1),
 ('400940', 1),
 ('845180', 1),
 ('520512', 1),
 ('721713', 1),
 ('853940', 1),
 ('401590', 1),
 ('970300', 1),
 ('530130', 1),
 ('291611', 1),
 ('285100', 1),
 ('621490', 1),
 ('870423', 1),
 ('760691', 1),
 ('620891', 1),
 ('294140', 1),
 ('320412', 1),
 ('847990', 1),
 ('901010', 1),
 ('820760', 1),
 ('293929', 1),
 ('110421', 1),
 ('711021', 1),
 ('811240', 1),
 ('291532', 1),
 ('840729', 1),
 ('321390', 1),
 ('750512', 1),
 ('590610', 1),
 ('370220', 1),
 ('510220', 1),
 ('853810', 1),
 ('380890', 1),
 ('30110', 1),
 ('621390', 1),
 ('900659', 1),
 ('903120', 1),
 ('480530', 1),
 ('720814', 1),
 ('300339', 1),
 ('950720', 1),
 ('871130', 1),
 ('841229', 1),
 ('551429', 1),
 ('390469', 1),
 ('610429', 1),
 ('843930', 1),
 ('210330', 1),
 ('621320', 1),
 ('910111', 1),
 ('848060', 1),
 ('291470', 1),
 ('540821', 1),
 ('292145', 1),
 ('900653', 1),
 ('900140', 1),
 ('90122', 1),
 ('510111', 1),
 ('851610', 1),
 ('30624', 1),
 ('283522', 1),
 ('81010', 1),
 ('760429', 1),
 ('900930', 1),
 ('291100', 1),
 ('721121', 1),
 ('71021', 1),
 ('110319', 1),
 ('290311', 1),
 ('730729', 1),
 ('490591', 1),
 ('844720', 1),
 ('441600', 1),
 ('890710', 1),
 ('521012', 1),
 ('210130', 1),
 ('520299', 1),
 ('843420', 1),
 ('853669', 1),
 ('370239', 1),
 ('510820', 1),
 ('400920', 1),
 ('293430', 1),
 ('630629', 1),
 ('330790', 1),
 ('284810', 1),
 ('551592', 1),
 ('291735', 1),
 ('120210', 1),
 ('842833', 1),
 ('30612', 1),
 ('121020', 1),
 ('820830', 1),
 ('200190', 1),
 ('711810', 1),
 ('851020', 1),
 ('170410', 1),
 ('820530', 1),
 ('850132', 1),
 ('900150', 1),
 ('293321', 1),
 ('841940', 1),
 ('30193', 1),
 ('260300', 1),
 ('750620', 1),
 ('730120', 1),
 ('731021', 1),
 ('853329', 1),
 ('340220', 1),
 ('21012', 1),
 ('901190', 1),
 ('970400', 1),
 ('540331', 1),
 ('721320', 1),
 ('292249', 1),
 ('840110', 1),
 ('721922', 1),
 ('902790', 1),
 ('870520', 1),
 ('310320', 1),
 ('851730', 1),
 ('560122', 1),
 ('901320', 1),
 ('843340', 1),
 ('846792', 1),
 ('841710', 1),
 ('100630', 1),
 ('401699', 1),
 ('151550', 1),
 ('380820', 1),
 ('481139', 1),
 ('621310', 1),
 ('391290', 1),
 ('800300', 1),
 ('481500', 1),
 ('300510', 1),
 ('611710', 1),
 ('853224', 1),
 ('480230', 1),
 ('960629', 1),
 ('880330', 1),
 ('530529', 1),
 ('292421', 1),
 ('60230', 1),
 ('810430', 1),
 ('252910', 1),
 ('260112', 1),
 ('841112', 1),
 ('50800', 1),
 ('30321', 1),
 ('410122', 1),
 ('940179', 1),
 ('870331', 1),
 ('200530', 1),
 ('410221', 1),
 ('840420', 1),
 ('190220', 1),
 ('811230', 1),
 ('854042', 1),
 ('851531', 1),
 ('200510', 1),
 ('550952', 1),
 ('290123', 1),
 ('510210', 1),
 ('381119', 1),
 ('841340', 1),
 ('30342', 1),
 ('901310', 1),
 ('551413', 1),
 ('854620', 1),
 ('870190', 1),
 ('290316', 1),
 ('721923', 1),
 ('960990', 1),
 ('850431', 1),
 ('854041', 1),
 ('551020', 1),
 ('844629', 1),
 ('230210', 1),
 ('50590', 1),
 ('720249', 1),
 ('580135', 1),
 ('30614', 1),
 ('360690', 1),
 ('620461', 1),
 ('630252', 1),
 ('230650', 1),
 ('851939', 1),
 ('630231', 1),
 ('482359', 1),
 ('392510', 1),
 ('390410', 1),
 ('40690', 1),
 ('271095', 1),
 ('481890', 1),
 ('841122', 1),
 ('200940', 1),
 ('940550', 1),
 ('880250', 1),
 ('720250', 1),
 ('720211', 1),
 ('140420', 1),
 ('846249', 1),
 ('60210', 1),
 ('854470', 1),
 ('293500', 1),
 ('853521', 1),
 ('20329', 1),
 ('903090', 1),
 ('560210', 1),
 ('870911', 1),
 ('720230', 1),
 ('30219', 1),
 ('831000', 1),
 ('740710', 1),
 ('860290', 1),
 ('290960', 1),
 ('620422', 1),
 ('271129', 1),
 ('854690', 1),
 ('293010', 1),
 ('410520', 1),
 ('720429', 1),
 ('701391', 1),
 ('843320', 1),
 ('852610', 1),
 ('284290', 1),
 ('470329', 1),
 ('271410', 1),
 ('710399', 1),
 ('610441', 1),
 ('581091', 1),
 ('610469', 1),
 ('261790', 1),
 ('970190', 1),
 ('251400', 1),
 ('520535', 1),
 ('670490', 1),
 ('281830', 1),
 ('846820', 1),
 ('293212', 1),
 ('293628', 1),
 ('640211', 1),
 ('731824', 1),
 ('880390', 1),
 ('730449', 1),
 ('330300', 1),
 ('290713', 1),
 ('521141', 1),
 ('80420', 1),
 ('71220', 1),
 ('950661', 1),
 ('551442', 1),
 ('151319', 1),
 ('570190', 1),
 ('681390', 1),
 ('284430', 1),
 ('360300', 1),
 ('846599', 1),
 ('291811', 1),
 ('390422', 1),
 ('844841', 1),
 ('820780', 1),
 ('621430', 1),
 ('390519', 1),
 ('870332', 1),
 ('950310', 1),
 ('282612', 1),
 ('470610', 1),
 ('821290', 1),
 ('846594', 1),
 ...]

In [4]:
%sql select * from trade limit 1;

1 rows affected.

[(Decimal('1'), '10111', 'JPN', 'Japan', '2011', 'Export', Decimal('6'), Decimal('405'))]

In [5]:
%sql select * from product limit 1;

1 rows affected.

[(108, ' Raw materials', '9999AA', '  UN Special Code', '0     ', '99', 'Miscellaneous', '  UN Special Code')]

In [6]:
%sql select * from country limit 1;

1 rows affected.

[(1, 'Afghanistan', 'AFG', 'Islamic State of Afghanistan', 'Low income', 'South Asia', 'No')]